*{
    border:0;
    margin:0;
    padding:0;
}


/* --------------- Sample Data Style  -------------------*/


.navbar{
    width:100%;
    height:80px;
    background-color: #ffff;
    box-shadow: 8px 8px 8px rgba(0,0,0,0.1) -8px 8px -8px rgba(0,0,0,0.1);
    border:1px solid black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right:100px;
    font-size:24px;

}

.link{
  font-weight: bold;
  padding:15px;
  cursor: pointer;
  &:hover{
    text-decoration: underline;
  }
}