*{
    border:0;
    margin:0;
    padding:0;
}


/* --------------- Sample Data Style  -------------------*/


.navbar{
    width:100%;
    height:10vh;
    background-color: blue;
    box-shadow: 8px 8px 8px rgba(0,0,0,0.1) -8px 8px -8px rgba(0,0,0,0.1);
    border:1px solid black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right:100px;
    font-size:24px;

}

.link{
  font-weight: bold;
  padding-top:15px;
  padding-right:15px;
  cursor: pointer;
  &:hover{
    text-decoration: underline;
  }
}

.avatar{
   border-radius: 50%;
   background-color: gray;
   padding-left:15px;
   padding-right:15px;
   padding-top:8px;
   padding-bottom:8px;
   margin-right:45px;
   cursor:pointer;
   color:white;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   
}

.home{
   width:100%;
   height:90vh;

   background-image: url("/home.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   object-fit: contain;
   opacity:0.7;
}


.btn-custom{
    width:150px;
    height:30px;
    background-color: red;
    font-style:italic;
    font-family: cursive;
    cursor: pointer;
    color:whitesmoke;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

    &:hover{
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }

}